body {
    padding: 0;
    margin: 0;
    font-family: 'Spectral', serif;
    background-color:#095adc;
    height: 100vh;
    width: 100vw;
    
}

.wrap {
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
       
}

.success {
    height: 200px;
    width: 200px;
    background-color: #2d7bf0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

p {
    color: white;
    font-size: 20px;
}